<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/b15c9141fd.js"crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
</head>
<body>
<div class="container">
  <form action="" id="contact" method="POST">
      <h2>Formulario Para Contato</h2>
      <h3>Para saber mais.</h3>
      <fieldset>
        <input placeholder="Seu nome" type="text" tabindex="1" name="seunome" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Seu email" type="email" tabindex="2" name="seuemail" required>
      </fieldset>
      <fieldset>
        <input placeholder="Seu telefone (opcional)" type="tel" tabindex="3" name="seutelefone" required>
      </fieldset>
      <fieldset>
        <input placeholder="Seu site (opcional)" type="url" tabindex="4" name="seutelefone" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Digite sua mensagem ......" name="messagem" tabindex="5" cols="20" rows="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" class="btn" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
      </fieldset>
      <fieldset>
        <p class="copyright">Todos Direitos reservados @ <a href="www.simasturbo.com.br" target="_blank" title="Jovens do futuro">Simas Turbo</a></p>
      </fieldset>
  </form>
</div>
</body>
</html>
