<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/3d74d2c86c.js" crossorigin="anonymous"></script>
  <title>Login</title>
</head>
<body >
<div class="container">
  <div class="content first-content">
    <div class="first-colum">
      <h2 class="title title-b">Bem-Vindo</h2>
      <p class="descri prime">Se ja tem uma conta</p>
      <p class="descri prime">Logue com suas informaçoes pessoais</p>
      <button id="logar" class="btn btn-primary">Logar</button>
    </div>
    <div class="second-colum">
      <h2 class="title title-c">Criar Conta</h2>
      <div class="social">
        <ul class="redes">
          <a href="#" class="link"><li class="itens">F</li></a>
          <a href="#" class="link"><li class="itens">G+</li></a>
          <a href="#" class="link"><li class="itens">Ind</li></a>
        </ul>
      </div>
      <p class="descri second">Ou utilize seu email para registro</p>
      <form  class="form">
        <input type="text" placeholder="    Seu nome" required>
        <input type="email" placeholder="     Seu email" required>
        <input type="password" placeholder="     Sua senha" required>
        <button class="btn btn-second" routerLink="/cadastros">Cadastrar</button>
      </form>
    </div>

  </div>




  <div class="content second-content">
    <div class="first-colum">
      <h2 class="title title-b">Olaa, Amigooo</h2>
      <p class="descri prime">Cadastre aqui</p>
      <p class="descri prime">Inicie sua jornada</p>
      <button id="cadastrar" class="btn btn-primary">Cadastrar</button>
    </div>
    <div class="second-colum">
      <h2 class="title title-c">Entrar com sua conta</h2>
      <div class="social">
        <ul class="redes">
          <a href="#" class="link"><li class="itens">F</li></a>
          <a href="#" class="link"><li class="itens">G+</li></a>
          <a href="#" class="link"><li class="itens">Ind</li></a>
        </ul>
      </div>
      <p class="descri second">Ou utilize seu email para entrar</p>
      <form  class="form">
        <input type="email" placeholder="Seu email" required>
        <input type="password" placeholder="Sua senha" required>
        <a class="password" href="#">Esqueceu a senha??</a>
        <button class="btn btn-second"   type="submit">Entrar</button>
      </form>

    </div>

  </div>
</div>
<script src="/app.js"></script>
</body>
</html>
