<header>
  <div class="menu">
    <h1 class="logo">Vendas Pro</h1>
    <nav class="header-menu">
      <ul class="list">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/produtos">Loja</a></li>
        <li><a routerLink="/carrinho">Carrinho</a></li>
        <li><a routerLink="/contato">Contato</a></li>
        <li><a routerLink="/prodcad">Cadastro de Produtos</a></li>
        <li><a routerLink="/pessoas">Vamo ver</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
