<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<div class="content">
  <div class="slides">
    <input type="radio" name="slide" id="slide1">
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3" checked>
    <input type="radio" name="slide" id="slide4">
    <input type="radio" name="slide" id="slide5">
    <div class="slide s1"><img src="./assets/1.jpg"></div>
    <div class="slide"><img src="./assets/2.jpg"></div>
    <div class="slide"><img src="./assets/3.jpg"></div>
    <div class="slide"><img src="./assets/4.jpg"></div>
    <div class="slide"><img src="./assets/5.jpg"></div>
  </div>
  <div class="nav">
    <label for="slide1" class="bar"></label>
    <label for="slide2" class="bar"></label>
    <label for="slide3" class="bar"></label>
    <label for="slide4" class="bar"></label>
    <label for="slide5" class="bar"></label>
  </div>
</div>

<div class="footer">
  <h1 class="pt1">Escolha seu Começo</h1>
  <div class="btns">
      <button  routerLink="/login" class="btn1">Logar</button>
      <button routerLink="/produtos" class="btn1">Ver Produtos</button>
  </div>
</div>




</body>
</html>
